In [33]:
import pickle
import pandas as pd

In [53]:
result = []
with open('../generate_v2_sample_gpt_result_prompt5.pkl', 'rb') as f:
    result = pickle.load(f)

In [54]:
df = pd.DataFrame(result, columns=['index', 'pred', 'true'])

In [56]:
df[df.true==0]

    index pred  true
0       0    1     0
1       1    0     0
2       2    1     0
3       3    0     0
4       4    0     0
..    ...  ...   ...
95     95    0     0
96     96    0     0
97     97    1     0
98     98    0     0
99     99    1     0

[100 rows x 3 columns]

In [58]:
[d for d in list(df[df.true==0].pred) if d!='1' and d!='0']
# len([d for d in list(df[df.true==0].pred) if d=='1'])

['The given review, "it is so much lighter and more portable," does not contain any mention of novel needs or any specific function that is missing from the computer. Therefore, the judgement result would be 0.',
 'The review does not provide any information or mention any specific needs or features. Therefore, it does not contain any novel needs. The judgement result is 0.',
 'The given review, "Me agradó el teclado retroiluminado" does not provide enough information to determine whether there are any novel needs. Therefore, the judgement result is 0.',
 'The given review is in Spanish and it translates to "It is a very good laptop, based on what it brings and what it costs. I recommend it." Based on this translation, there is no mention of any specific needs or features, so the judgement result is 0.']

In [52]:
df[(df.true==0) & (df.pred=='1')]

    index pred  true
0       0    1     0
2       2    1     0
5       5    1     0
6       6    1     0
9       9    1     0
12     12    1     0
13     13    1     0
15     15    1     0
17     17    1     0
18     18    1     0
20     20    1     0
25     25    1     0
26     26    1     0
29     29    1     0
32     32    1     0
33     33    1     0
37     37    1     0
46     46    1     0
50     50    1     0
51     51    1     0
52     52    1     0
55     55    1     0
56     56    1     0
58     58    1     0
62     62    1     0
66     66    1     0
67     67    1     0
72     72    1     0
78     78    1     0
87     87    1     0
97     97    1     0
99     99    1     0